<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CreateUserServlet</servlet-name>
  	<display-name>CreateUserServlet</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateCarServlet</servlet-name>
  	<display-name>CreateCarServlet</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.CreateCarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateManufacturerServlet</servlet-name>
  	<display-name>CreateManufacturerServlet</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.CreateManufacturerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateCarModelServlet</servlet-name>
  	<display-name>CreateCarModelServlet</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.CreateCarModelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardServlet</servlet-name>
  	<display-name>DashboardServlet</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateAdmin</servlet-name>
  	<display-name>CreateAdmin</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.CreateAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAdmin</servlet-name>
  	<display-name>ShowAdmin</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.ShowAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllAdmins</servlet-name>
  	<display-name>ShowAllAdmins</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.ShowAllAdmins</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateAdmin</servlet-name>
  	<display-name>UpdateAdmin</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.UpdateAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteAdmin</servlet-name>
  	<display-name>DeleteAdmin</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.DeleteAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllManufacturers</servlet-name>
  	<display-name>ShowAllManufacturers</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.ShowAllManufacturers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateManufacturer</servlet-name>
  	<display-name>UpdateManufacturer</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.UpdateManufacturer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteManufacturer</servlet-name>
  	<display-name>DeleteManufacturer</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.DeleteManufacturer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllStates</servlet-name>
  	<display-name>ShowAllStates</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.ShowAllStates</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllCars</servlet-name>
  	<display-name>ShowAllCars</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.ShowAllCars</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAllCarModels</servlet-name>
  	<display-name>ShowAllCarModels</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.ShowAllCarModels</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCarModel</servlet-name>
  	<display-name>DeleteCarModel</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.DeleteCarModel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCarModel</servlet-name>
  	<display-name>UpdateCarModel</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.UpdateCarModel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCarServlet</servlet-name>
  	<display-name>UpdateCarServlet</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.UpdateCarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCar</servlet-name>
  	<display-name>UpdateCar</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.UpdateCar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateBooking</servlet-name>
  	<display-name>CreateBooking</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.CreateBooking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreatePayment</servlet-name>
  	<display-name>CreatePayment</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.CreatePayment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowBookings</servlet-name>
  	<display-name>ShowBookings</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.ShowBookings</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckBooking</servlet-name>
  	<display-name>CheckBooking</display-name>
  	<description></description>
  	<servlet-class>rencar.servlet.CheckBooking</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateUserServlet</servlet-name>
  	<url-pattern>/create-account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateCarServlet</servlet-name>
  	<url-pattern>/create-car</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateManufacturerServlet</servlet-name>
  	<url-pattern>/create-manufacturer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateCarModelServlet</servlet-name>
  	<url-pattern>/create-model</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardServlet</servlet-name>
  	<url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateAdmin</servlet-name>
  	<url-pattern>/create-admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAdmin</servlet-name>
  	<url-pattern>/view-admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllAdmins</servlet-name>
  	<url-pattern>/view-admins</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAdmin</servlet-name>
  	<url-pattern>/update-admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteAdmin</servlet-name>
  	<url-pattern>/delete-admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllManufacturers</servlet-name>
  	<url-pattern>/view-manufacturers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateManufacturer</servlet-name>
  	<url-pattern>/update-manufacturer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteManufacturer</servlet-name>
  	<url-pattern>/delete-manufacturer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllStates</servlet-name>
  	<url-pattern>/view-states</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllCars</servlet-name>
  	<url-pattern>/view-cars</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllCarModels</servlet-name>
  	<url-pattern>/view-car-models</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCarModel</servlet-name>
  	<url-pattern>/delete-car-model</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCarModel</servlet-name>
  	<url-pattern>/update-car-model</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>UpdateCar</servlet-name>
  	<url-pattern>/update-car</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateBooking</servlet-name>
  	<url-pattern>/create-booking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreatePayment</servlet-name>
  	<url-pattern>/create-payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowBookings</servlet-name>
  	<url-pattern>/view-bookings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckBooking</servlet-name>
  	<url-pattern>/check-booking</url-pattern>
  </servlet-mapping>
</web-app>
